<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doubisanyou.appcenter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.doubisanyou.appcenter.activity.BoxMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.doubisanyou.appcenter.activity.SearchSecondActivity" >
        </activity>
        <activity android:name="com.doubisanyou.appcenter.activity.SearchThirdActivity" >
        </activity>
        <activity android:name="com.doubisanyou.appcenter.activity.ManagerActivity" />
        <activity android:name="com.doubisanyou.appcenter.activity.AppInfoActivity" />
        <activity android:name="com.doubisanyou.appcenter.activity.DouLiaoActivity" />
        <activity android:name="com.doubisanyou.appcenter.activity.NearByPeopleActivity" />
        <activity android:name="com.doubisanyou.appcenter.activity.TeaSayActivity" />
        <activity android:name="com.doubisanyou.appcenter.activity.FriendActivity" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>